/* styles.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header"
    "aside main"
    "aside footer";
}

header{
  grid-area: header;
  padding: 25px 0;
  text-align: center;
  background-color: #121214;
  color: white;
}

aside{
  grid-area: aside;
  background-color: #ddd;
  padding: 20px;

  nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .nav-button{
      display: flex;
      align-items: center;
      text-align: start;
      gap: 10px;
      border: none;
      cursor: pointer;
      background-color: #ddd;
      padding: 10px 15px;
      font-weight: bold;
      font-size: 18px;
      border-radius: 16px;
      transition: background-color 0.2s ease;
    }
    .nav-button:hover, .nav-button:focus{
      background-color: #ccc;
    }
  }
}

main{
  grid-area: main;
  flex: 1;
  background-color: #eee;
}

footer{
  grid-area: footer;
  padding: 15px 0;
  text-align: center;
  background-color: #eee;

  a{
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }
  img{
    width: 20px;
  }
}